@tailwind base;
@tailwind components;
@tailwind utilities;

.mapboxgl-popup-content {
  border-radius: 10px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.mapboxgl-popup-tip {
  border-radius: 24px;
}


.mapboxgl-ctrl-group{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  border-radius: 22px;
  background-color: white;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1) !important;
}
